<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Error <th:block th:text="${status}"></th:block>
        <th:block th:if="${status} == 404">(Not Found)</th:block>
        <th:block th:if="${status} == 401">(Unauthorized)</th:block>
        <th:block th:if="${status} == 403">(Forbidden)</th:block>
        <th:block th:if="${status} == 500">(Internal Server Error)</th:block>!!
    </title>

      <!-- Favicons -->
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">


      <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/form.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- SECTION -->
    <div class="section" id="error">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="d-flex">
          <div class="col-xs-12 col-sm-8">
            <div id="400" th:if="${status} == 400">
                <h1>Oopps!</h1>
                <p class="status">
                  <strong>400</strong>
                  <ins> - That's an error.</ins>
                </p>
                <p>
                    <span th:text="${message}"
                          hidden="hidden"></span>

                  Sorry but the request sent to the server was incorrect.
                  <ins> That's all we know.</ins>
                </p>
                <a class="goback" href="javascript:;" onclick="goBack()"
                ><i class="fas fa-chevron-left"></i> &nbsp;&nbsp;Go Back</a
                >
            </div>
            <div id="404" th:if="${status} == 404">
              <h1>Oopps!</h1>
              <p class="status">
                <strong>404</strong>
                <ins> - That's an error.</ins>
              </p>
              <p>
                <span th:text="${message}"
                  hidden="hidden"></span>

                Sorry but the requested URL was not found on our server.
                <ins> That's all we know.</ins>
              </p>
              <a class="goback" href="javascript:;" onclick="goBack()"
                ><i class="fas fa-chevron-left"></i> &nbsp;&nbsp;Go Back</a
              >
            </div>
            <div id="401" th:if="${status} == 401">
                <h1>Oopps!</h1>
                <p class="status">
                  <strong>401</strong>
                  <ins> - That's an error.</ins>
                </p>
                <p>
                  <span th:text="${message}"
                        hidden="hidden"></span>

                  Sorry but you are not authorized to access this page.
                  <ins> That's all we know.</ins>
                </p>
                <a class="goback" href="javascript:;" onclick="goBack()"
                ><i class="fas fa-chevron-left"></i> &nbsp;&nbsp;Go Back</a
                >
            </div>
            <div id="403" th:if="${status} == 403">
                <h1>Oopps!</h1>
                <p class="status">
                    <strong>403</strong>
                    <ins> - Forbidden.</ins>
                </p>
                <p>
                  <span th:text="${message}"
                        hidden="hidden"></span>

                    Sorry but you don't have permission to view this page.
                    <ins> That's all we know.</ins>
                </p>
                <a class="goback" href="javascript:;" onclick="goBack()"
                ><i class="fas fa-chevron-left"></i> &nbsp;&nbsp;Go Back</a
                >
            </div>
            <div id="500" th:if="${status} == 500">
                <h1>Oopps!</h1>
                <p class="status">
                  <strong>500</strong>
                  <ins> - That's an error.</ins>
                </p>
                <p>
                    <span th:text="${message}"
                          hidden="hidden"></span>

                  Sorry but the server encountered an internal error or misconfiguration and was unable to complete your request.
                  <ins> That's all we know.</ins>
                </p>
                <a class="goback" href="javascript:;" onclick="goBack()"
                ><i class="fas fa-chevron-left"></i> &nbsp;&nbsp;Go Back</a
                >
            </div>
          </div>
          <div class="col-sm-4 error-i"></div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->
  </body>
  <script src="/js/main.js"></script>
</html>